/*!
 * Lightbox
 */
// Variables
// images
$url-image-close: '../images/close.png';
$url-image-loading: '../images/loading.gif';
$url-image-prev: '../images/prev.png';
$url-image-next: '../images/next.png';
// background-lightbox
$background-lightbox-color: #000;
$background-lightbox-opacity: 0.8;




body {
	&:after {
		content: url($url-image-close) url($url-image-loading) url($url-image-prev) url($url-image-next);
		display: none;
	}
	&.lb-disable-scrolling {
		overflow: hidden;
	}
}

.lightboxOverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: $background-lightbox-color;
	filter: alpha(Opacity=#{$background-lightbox-opacity*100});
	opacity: $background-lightbox-opacity;
	display: none;
}

.lb-loader, .lightbox {
	text-align: center;
	line-height: 0;
}

.lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 10000;
	font-weight: 400;
	.lb-image {
		display: block;
		height: auto;
		max-width: inherit;
		border-radius: 3px;
	}
	a img {
		border: none;
	}
}

.lb-dataContainer:after, .lb-outerContainer:after {
	content: "";
	clear: both;
}

.lb-outerContainer {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border-radius: 4px;
	&:after {
		display: table;
	}
}

.lb-dataContainer {
	margin: 0 auto;
	padding-top: 5px;
	width: 100%;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	&:after {
		display: table;
	}
}

.lb-loader, .lb-nav {
	position: absolute;
	left: 0;
}

.lb-container {
	padding: 4px;
	> .nav {
		left: 0;
	}
}

.lb-loader {
	top: 43%;
	height: 25%;
	width: 100%;
}

.lb-cancel {
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	background: url($url-image-loading) no-repeat;
}

.lb-nav {
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	a {
		outline: 0;
		background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
		filter: alpha(Opacity=0);
		opacity: 0;
		-webkit-transition: opacity .6s;
		-moz-transition: opacity .6s;
		-o-transition: opacity .6s;
		transition: opacity .6s;
		&.lb-prev {
			width: 34%;
			left: 0;
			float: left;
			background: url($url-image-prev) left 48% no-repeat;
		}
		&.lb-next {
			width: 64%;
			right: 0;
			float: right;
			background: url($url-image-next) right 48% no-repeat;
		}
		&.lb-prev, &.lb-next {
			height: 100%;
			cursor: pointer;
			display: block;
			&:hover {
				filter: alpha(Opacity=100);
				opacity: 1;
			}
		}
	}
}

.lb-data {
	padding: 0 4px;
	color: #ccc;
	.lb-details {
		width: 85%;
		float: left;
		text-align: left;
		line-height: 1.1em;
	}
	.lb-caption {
		font-size: 13px;
		font-weight: 700;
		line-height: 1em;
	}
	.lb-number {
		display: block;
		clear: left;
		padding-bottom: 1em;
		font-size: 12px;
		color: #999;
	}
	.lb-close {
		display: block;
		float: right;
		width: 30px;
		height: 30px;
		background: url($url-image-close) top right no-repeat;
		text-align: right;
		outline: 0;
		filter: alpha(Opacity=70);
		opacity: .7;
		-webkit-transition: opacity .2s;
		-moz-transition: opacity .2s;
		-o-transition: opacity .2s;
		transition: opacity .2s;
	}
	.lb-close:hover {
		cursor: pointer;
		filter: alpha(Opacity=100);
		opacity: 1;
	}
}