
/*	Reset
---------------------------------------*/
* {
	margin: 0;
	padding: 0;
	font-family: $f;
}
html {
	min-height: 100%;
	height: 100%;
}
ol, ul {
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
}
.h1, .h2, .h3, .h4, h1, h2, h3, h4, p {
	line-height: normal;
	margin: 0;
	padding: 0;
}
a:focus, button:focus, input:focus, textarea:focus {
	outline: 0;
	text-decoration: none;
}
.container {
	width: 1200px;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}