@import 'components/variables';
@import 'components/mixins';

/************************************************
 * Stylesheet: Main Stylesheet
 * Description: place-start создание продвижение сайтов
 * Author: place-start.ru
 * Author URI: http://place-start.ru/
*************************************************/

/*	Reset
---------------------------------------*/
*  {
	margin: 0;
	padding: 0;
}
*:focus, *:focus *{
	box-shadow: none !important;
}
.custom-control-input:focus~.custom-control-label::before{
	box-shadow: none !important;
}
html  {
	min-height: 100%;
	height: 100%;
}
body {
	min-width: 320px;
	height: 100%;
	margin: 0;
	padding: 0;
	&.opened {
		overflow: hidden;
	}
}
main {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	overflow: hidden;
	background-position: center top;
	width: 100%;
}
.page_wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
}

/*	Стили страниц
---------------------------------------*/

ol, ul  { 
	padding: 0;
	margin: 0;
}
li  {
	list-style-type: none;
}
.h1, .h2, .h3, .h4, h1, h2, h3, h4, p  {
	line-height: normal;
	margin: 0;
	padding: 0;
}
a:focus, button:focus, input:focus, textarea:focus  {
	outline: 0;
	text-decoration: none;
}
a  {
	text-decoration: none;
	&:hover  {
		text-decoration: none;
	}
}





/* Кнопка открытия мобильного меню
---------------------------------------*/
.mobile_menu_open{
	position: absolute;
	right: 20px;
	top: 6px;
	bottom: 0;
	margin: auto;
	display: inline-block;
    height: 22px;
    width: 20px;
	> svg{
		fill: #fff;
	}
}

/* Мобильное меню
---------------------------------------*/
nav.mobile_menu{
	width: calc(100% - 50px);
	right: 0;
	top: 0;
	background-color: #fff;
	position: fixed;
	z-index: 600;
	height: 100%;
	transform: translateX(100%);
	transition: .3s linear;
	overflow-y: auto;
	overflow-x: hidden;
	background: #fff;
	padding-bottom: 10px;

	&.opened, &.active, .nav_close.opened{
		transform: translateX(0);
		display: block;
	}

	ul{
		margin-top: 0 !important;
		width: 100%;
	}
	> ul{
		padding-bottom: 14px;
		> li{
			position: relative;
			> a{
				display: block;
				position: relative;
				padding: 15px 20px 11px;
				color: #262626;
				font-size: 14px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 0.31px;

				&:hover{
					color: $main-color;
					span{
						> svg{
							fill: $main-color;
						}
					}
				}
				span{
					display: block;
					position: absolute;
					right: 20px;
					top: 0;
					bottom: 0;
					margin: auto;
					height: 22px;
				}
				&.active{
					span{
						-webkit-transform: rotate(180deg);
						-ms-transform: rotate(180deg);
						transform: rotate(180deg);
					}
				}
			}
			&:after{
				content: "";
				position: absolute;
				bottom: 0;
				left: 20px;
				height: 1px;
				width: calc(100% - 40px); 
				background-color: #e7e7e7;
			}
			.sub-menu{
				display: none;
				padding-bottom: 5px;

				&.active{
					display: block;
				}
				li{
					a{
						display: block;
						color: #646464;
						font-size: 15px;
						font-weight: 400;
						padding: 6px 0 6px 36px;
						&:hover{
							color: $main-color;
						}
					}
				}
			}
		}
	}
	.mob_group{
		display: flex;
		padding: 4px 20px;
		.icon_wrapper{
			display: inline-block;
			width: 20px;
			> svg{
				fill: #3c3f6e;
			}
		}
		.links{
			display: inline-block;
			a{
				display: block;
				color: #3c3f6e;
				font-size: 16px;
			}
			&.phone_links{
				a{
					font-weight: 700;
					letter-spacing: 0.18px;
					line-height: 20px;
				}
			}
		}
	}
}

/* Кнопка закрытия мобильного меню
---------------------------------------*/
.nav_close{
	position: fixed;
	top: 0;
	left: 270px;
	z-index: 1000;
	display: inline-block;
	margin: 0;
	width: 50px;
	height: 100%;
	//background-color: rgba(81, 76, 71, 0.5);
	transform: translateX(-320px);
	transition: .3s linear;
	overflow-y: auto;

	span{
		display: block;
		width: 100%;
		height: 50px;
		background-color: $main-color;
		position: relative;

		&:before, &:after{
			content: '';
			display: block;
			position: absolute;
			top: 24px;
			left: 16px;
			width: 20px;
			height: 2px;
			background: #fff;
		}

		&:before{
			transform: rotate(45deg);
		}

		&:after{
			transform: rotate(-45deg);
		}
	}
	&.opened{
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
		display: block;
	}
}



/* Бургер для меню
---------------------------------------*/
.ps-burger{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 70px;
	min-width: 70px;
	height: 60px;
	cursor: pointer;
	&:hover{
		background-color: rgba(255, 255, 255, 0.2);
	}
	&__burger-desc{
		margin: 0 0 0 12px;
		color: #fff;
		font-size: 18px;
		font-weight: 400;
		line-height: 25px;
		font-style: normal;
		&:after{
			content: "";
			display: inline-block;
			border: 4px solid transparent;
			border-top: 5px solid #fff;
			margin: 0 0 0 12px;
		}
	}
	span{
		display: block;
		position: relative;
		bottom: 1px;
		height: 2px;
		width: 16px;
		background-color: #fff;
		transition: .3s;
		&:after, &:before{
			content:"";
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #fff;
			transition: .3s;
		}
		&:before{
			top: -6px;
		}
		&:after{
			bottom: -6px;
		}
	}
	&.opened{
		span{
			width: 20px;
			border-radius: 3px;
			transform: rotate(45deg);
			&:after{
				opacity: 0;
			}
			&:before{
				top: 0;
				transform: rotate(-90deg);
				border-radius: 3px;
			}
		}
	}
}

/* Стили модалки
---------------------------------------*/
i.modal_bg{
	display: none;
	position: fixed;
	z-index: 600;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	&.opened{
		display: block;
	}
}
.modal_wrapper{
	display: block;
	position: fixed;
	z-index: 700;
	top: 10%;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #fff;
	width: 320px;
	max-width: 100%;
	max-height: 100%;
	padding: 30px 47px 20px;
	overflow: hidden;
    transform: translateY(-200%);
	transition: .6s;
	&.opened{
		transform: translateY(0%);
	}
	i.close_modal{
		display: block;
		position: absolute;
		top: 7px;
		right: 7px;
		width: 18px;
		height: 18px;
		cursor: pointer;
		&:before, &:after{
			content:"";
			position: absolute;
			top: 50%;
			width: 100%;
			height: 2px;
			background-color: #c9c9c9;
			transition: .3s;
		}
		&:before{
			left: 0;
			transform: rotate(45deg);
		}
		&:after{
			right: 0;
			transform: rotate(-45deg);
		}
		&:hover{
			&:before, &::after{
				background-color: rgba(0,0,0,0.5);
			}
		}
	}
	.modal-text{
		h2{
			text-align: center;
			color: #2e2e5b;
			font-family: Lora;
			font-size: 26px;
			font-weight: 400;
		}
		> b{
			display: block;
			text-align: center;
			color: #999;
			font-family: Lato;
			font-size: 16px;
			font-weight: 400;
			padding: 2px 0 15px;
		}
		form{
			width: 100%;
			.group{
				position: relative;
				margin-bottom: 10px;

				&.active{
					label{
						top: 6px;
						color: #3c3f6e;
						font-size: 14px;
						font-weight: 700;
					}
				}

				input:not([type="checkbox"]), textarea{
					width: 100%;
					border-radius: 5px;
					border: 1px solid #cdcdcd;
					color: #333;
					font-family: Lato;
					font-size: 16px;
					font-weight: 400;
					padding: 25px 15px 5px;
				}
				input:not([type="checkbox"]){
					height: 50px;
				}
				textarea{
					height: 120px;
					resize: none;
					line-height: 18px;
				}
				label{
					position: absolute;
					z-index: 10;
					top: 13px;
					left: 15px;
					color: #9b9b9b;
					font-size: 16px;
					font-weight: 400;
					font-family: Lato;
					cursor: text;
					
					transition: .3s;
				}
			}
			span.wpcf7-not-valid-tip{
				display: none;
			}
			.wpcf7-response-output{
				color: #333;
				font-family: Lato;
				font-size: 16px;
				font-weight: 400;
				line-height: 22px;
				text-align: center;
				margin: 10px 0;
			}
			.wpcf7-not-valid{
				border-color: red !important;
			}
			input[type="submit"] {
				width: 100%;
				height: 47px;
				line-height: 50px;
				border: none;
				outline: none;
				cursor: pointer;
				color: #fff;
				font-family: Lato;
				font-size: 14px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 0.4px;

				&:disabled{
					opacity: 0.5;
					&:hover{
						background-color: $main-color;
						cursor: default;
					}
				}
			}
			input[type="checkbox"] {
				display: inline-block;
				width: 16px;
				height: 16px;
				border-radius: 0;
				cursor: pointer;
			}
			.acceptance_link{
				-webkit-display: flex;
				-webkit-align-items: center;
				display: flex;
				align-items: center;
				width: 100%;
				margin: 0 0 12px;
				s{
					text-decoration: none;
					color: #9b9b9b;
					font-family: Lato;
					font-size: 14px;
					font-weight: 400;
					a{
						text-decoration: underline;
						color: #9b9b9b;
						&:hover{
							text-decoration: none;
						}
					}
				}
				> span{
					display: inline-block;
					margin-right: 6px;
					border: 1px solid #cdcdcd;
					border-radius: 3px;
					background-color: #ececec;
					width: 15px;
					min-width: 15px;
					height: 15px;
					cursor: pointer;
					input{
						display: none;
						margin: 0;
					}
				}
				&.active{
					> span{
						background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAICAMAAAAY5vW6AAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMAx44MCMG+loaBfLmtnxAOoqt2aQAAADhJREFUCNc9zMkRACAIA0Dxvk3/1QoymA9LHnGWONfnQDFmYW/MkOD5ZFSlVARP/L8cAppNbOqKCzuAAUv1aczJAAAAAElFTkSuQmCC');
						background-repeat: no-repeat;
						background-position: center;
						background-color: $main-color;
						border-color: $main-color;
					}
				}
				.wpcf7-list-item-label{
					display: none;
				}
			}
		}
	}
}

/*	Навигация по страницам архива
---------------------------------------*/
.navigation-wrapper {
	margin: 6px 0 92px;
	
	a,span {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		width: 40px;
		margin: 0 16px 0 15px;
		color: #333;
		font-family: Lato;
		font-size: 16px;
		font-weight: 700;
		border-radius: 100%;
		border: 1px solid transparent;
		background-color: rgba(255, 255, 255, 0);

		&:hover {
			border-color: $main-color;
		}
	}

	.current {
		color: #fff;
  		background-color: #3c3f6e;

			&:hover {
				border-color: #3c3f6e;
			}
	}
	.nav-links {
		text-align: center;
		display: flex;
		justify-content: center;
		width: 100%;

		.dots {
			height: 38px;
			width: 38px;
		}
		a {
			> svg {
				height: 14px;
  				width: 13px;
				fill: #494949;
			}
			&.prev > svg {
				transform: rotate(90deg);
			}
			&.next > svg {
				transform: rotate(-90deg);
			}
			&.prev, &.next{
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0;
			}
		}
	}
}

/*	Страница 404
---------------------------------------*/
.body_404{
	.wrapper{
		-webkit-display: flex;
		-webkit-align-items: center;
		display: flex;
    	align-items: center;
		height: 476px;
		padding: 30px 0;
		img{
			display: block;
			max-width: 100%;

		}
		.not_found-content{
			padding-bottom: 28px;
			h2{
				color: #333;
				font-family: Lora;
				font-size: 36px;
				font-weight: 400;
				line-height: 44px;
			}
			span{
				display: block;
				color: #333;
				font-family: Lato;
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				padding: 8px 0 20px;
			}
			a{
				display: block;
				width: 300px;
				max-width: 100%;
				height: 47px;
				line-height: 50px;
				color: #fff;
			}
		}
	}
}



/*==========  Desktop First Method  ==========*/

@media (min-width: 1200px){
	.container {
		width: 1200px;
	}
}

/* Large Devices, Wide Screens */
@media (max-width : 1199px) {
	.container {
		width: 100%;
	}
	main{
		width: 100%;
	}
}

/* Small Devices, Phones */
@media (max-width : 991px) {
	
}

/* Extra Small Devices, Phones */
@media (max-width : 767px) {
	/* Сео-блок на главной
	---------------------------------------*/
	#index_seo_block{
		padding: 30px 0 41px;
		> .container{
			padding: 0 10px;
			> .row{
				margin: 0 -10px;
				> div{
					padding: 0 10px;
				}
			}
		}
		.seo_img{
			height: 180px;
			width: calc(100% - 15px);
			margin: 23px 0 15px;
			&:before{
				left: 15px;
				top: 15px;
			}
		}
		#index_seo_scroller{
			height: 280px;
			padding-bottom: 10px;
			.content{
				&-text{
					h1{
						font-size: 24px;
						line-height: 30px;
						padding: 0 0 4px;
					}
					h2{
						font-size: 24px;
						padding: 14px 0 5px;
					}
					h3{
						padding-top: 6px;
					}
					p, li{
						line-height: 21px;
						font-size: 16px;
						padding-bottom: 13px;
					}
				}
			}
		}
	}

	/*	Навигация постов
	---------------------------------------*/
	.navigation-wrapper{
		margin-bottom: 15px;
		a, span{
			margin: 0 3px;
			height: 24px !important;
			width: 24px !important;
			border: none;
			font-size: 14px;
		}
		.nav-links a > svg{
			width: 10px;
			height: 10px;
		}
	}
	
	/* Страница 404
	---------------------------------------*/
	.body_404{
		.wrapper{
			height: auto;
			padding: 5px 0;
			img{
				margin: 0 auto;
				max-width: 350px;
				width: 100%;
			}
			.not_found-content{
				margin: 0 auto;
    			text-align: center;
				h2{
					font-size: 27px;
					line-height: 34px;
				}
				span{
					font-size: 14px;
					line-height: 20px;
					padding: 5px 0 10px;
				}
				a{
					margin: 0 auto;
					width: 290px;
				}
			}
		}
	}
}