@import 'components/variables';
@import 'components/mixins.scss';

/*	Доп классы
---------------------------------------*/
.theme-button{
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	background-color: $main_color;
	border: none;
	outline: none;
	box-shadow: 0 12px 20px rgba(255, 0, 7, 0.48);
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	transition: .3s;
	cursor: pointer;
	transform: skew(-20deg);
	&:hover{
		background-color: #eb262c;
		color: #fff;
	}
	.text{
		transform: skew(20deg);
	}
}








