// Functions
@import 'components/mixins';

// Variables
@import 'components/variables';



/*==========  Desktop First Method  ==========*/

@media (min-width: 1200px){
	html{
		min-width: 1200px;
	}

	body{
		min-width: 1200px;
		padding: 0;
		margin: 0;
	}
	
	.container{
		width: 1200px;
		max-width: 1200px;
	}
}

@media (max-width : 1199px) {
	.container{
		max-width: 100%;
	}

}

@media (max-width : 991px) {
	
}

@media (max-width : 767px) {
	
}

@media(max-width: 575px){
	
}