// Variables
@import 'components/variables';

// Functions
@import 'components/mixins';

/*	Хлебные крошки
---------------------------------------*/
.breadcrumb{
	background: none;
	padding-left: 0;
}
.breadcrumbs {
	padding: 30px 0 8px;
	ul {
		display: block;
		font-size: 0;
		li {
			display: inline;
			font-size: 16px;
			font-weight: 400;
			color: #000;
			a {
				color: #808080;
				&:hover{
					text-decoration: underline;
				}
			}
			&:not(:last-child){
				&:after{
					content: '/';
					margin: 0 7px 0 3px;
					color: #d51016;
					font-size: 16px;
					font-weight: 400;
				}
			}
		}
	}
}
.page{
	padding-bottom: 90px;
}

.page-title{
	color: #000;
	font-size: 36px;
	font-weight: 700;
	line-height: 44px;
	padding: 12px 0 26px;
}

/*	Сайдбар
---------------------------------------*/
.sidebar {
	margin: 0 0 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	ul {
		position: relative;
		overflow: hidden;
		> li {
			display: block;
			> a {
				-webkit-display: flex;
				-webkit-align-items: center;
				display: flex;
				align-items: center;
				position: relative;
				color: #373a3c;
				font-size: 16px;
				font-weight: 400;
				padding: 13px 15px 13px 30px;
				transition: .3s;
				
				&:after{
					content: "";
					position: absolute;
					bottom: 0;
					left: 20px;
					width: calc(100% - 40px);
					height: 1px;
					background-color: #e6e6e6;
				}
			}
			&:last-child{
				a:after{
					display: none;
				}
			}
			&:hover a {
				background-color: #efefef;
				color: $main-color;
			}
			&.current-menu-item, &.current_page_item{
				a{
					&:before{
						content: "";
						position: absolute;
						left: -28px;
						top: 14px;
						width: 40px;
						height: 22px;
						transform: skew(-20deg);
						background-color: $main-color;
					}
				}
			}
		}
	}
}

/* Заголовок для таблицы
---------------------------------------*/
.table-title {
	padding: 10px 20px;
	border: 0;
	letter-spacing: 0.3px;
	background-color: $main-color;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
}


/*	Контентная часть текстовой страницы
---------------------------------------*/
.content {
	position: relative;
	
	// Текст
	&-text {
		ol ol, ol ul, ul ol, ul ul {
			padding-top: 8px;
		}
		h1 {
			padding: 0 0 20px;
			@include font-h1;
		}
		h2 {
			padding: 9px 0;
			@include font-h2;
		}
		h3 {
			padding: 7px 0 4px;
			@include font-h3;
		}
		p {
			padding: 0 0 16px;
			@include font-p;
		}
		a {
			color: $main-color;
			text-decoration: underline;
			transition: .3s;
			&:hover, &focus {
				color: #ff474c !important;
			}
			&:visited{
				color: #7a339e !important;
			}
		}
		ol + h3, ul + h3{
			padding-top: 16px;
		}
		ol {
			padding: 4px 0 0;
			margin-left: 28px;
			> li {
				@include font-p;
				list-style-type: decimal;
				padding-bottom: 8px;
				padding-left: 8px;
			}
			ul{
				li:last-child{
					padding-bottom: 0;
				}
			}
		}
		ul {
			margin-left: 35px;
			padding-top: 4px;
			> li {
				position: relative;
				@include font-p;
				padding-bottom: 8px;
				&:before {
					content: '—';
					position: absolute;
					left: -24px;
				}
			}
		}
		img {
			width: 100%;
			height: auto;
			margin: 14px 0 22px;
			-o-object-fit: cover;
			object-fit: cover;
			&.noresize{
				height: auto !important;
			}
		}
	}
	
	// Цитата
	.content-text + .quote{
		margin-top: 23px;
	}
	.quote {
		position: relative;
		border-left: 6px solid $main-color;
		padding: 20px;
		margin: 10px 0 20px;
		background-color: #f8f8f8;
		&-text {
			color: #333;
			
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
		}

	}

	// Файлы
	.files {
		padding: 0px 0 8px;
		margin: 15px 0 0;
		.file {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			padding: 8px 0 22px;
			&-thumbnail {
				display: inline-block;
				min-width: 33px;
				width: 33px;
				height: 40px;
				margin-top: 3px;
				> svg {
					width: 100%;
					height: 100%;
					fill: $main-color;
				}
			}
			&-info {
				display: inline-block;
				padding: 1px 0 0 13px;
				.name {
					display: block;
					@include font-p;
					line-height: 22px;
					em {
						font-style: normal;
						border: 1px solid rgba(0,0,0,0);
						transition: .3s;
					}
				}
				.size {
					display: block;
					color: #898989;
					
					font-size: 14px;
					font-weight: 400;
					text-transform: uppercase;
					padding-top: 4px;
					@include font-sign;
				}
			}
			&:hover .file-info {
				.name {
					color: $main-color;
					text-decoration: underline;
				}
			}
		}
	}
	
	// Таблица
	.table {
		padding: 0 0 20px;
		margin: 0;
		&-responsive {
			border: 1px solid $border-color;
			border-top: 0;
			overflow: scroll;
		}
		h3 {
			@extend .table-title;
		}
		table{
			width: 100%;
		}
	}
	&-text {
		table {
			th, td {
				color: #373a3c;
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				padding: 10px 20px;
				border-right: 1px solid $border-color;
				border-bottom: 1px solid $border-color;
				&:last-child {
					border-right: 0;
				}
			}
			thead {
				tr {
					th {
						color: #999;
						background-color: #f5f5f5;
					}
				}
			}
			tbody {
				tr {
					&:first-child td{
						color: #999;
						background-color: #f5f5f5;
					}
					&:last-child td {
						border-bottom: 0;
					}
				}
			}
		}
	}

	// Текст с выделением
	.text_underline {
		padding: 12px 0;
		p {
			border-bottom: 2px solid $main-color;
			padding: 0 0 11px;
			color: #373a3c;
			font-size: 24px;
			font-weight: 700;
		}
	}

	// Сертификаты
	.certificates {
		padding: 12px 0 16px;
		.certificate {
			&-thumbnail {
				position: relative;
				display: block;
				width: calc(100% - 24px);
				height: 174px;
				border: 1px solid $border-color;
				border-bottom-color: #d9d9d9;
				margin: 6px 0 5px;
				@include background($position: top);
				&:before {
					content: '';
					position: absolute;
					right: -27px;
					bottom: 0;
					width: 26px;
					height: 36px;
					border-top: 36px solid #d9d9d9;
					border-right: 26px solid transparent;
				}
				&:after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					opacity: 0;
					width: 100%;
					height: 100%;
					background-repeat: no-repeat;
					background-position: center center;
					background-color: rgba(235, 38, 44, 0.7);
					background-size: 30px 30px;
					background-image: $whiteIconZoom;
					transition: .3s;
				}
				&:hover:after {
					opacity: 1;
				}
				&.w_certificates{
					min-height: 174px;
					object-fit: cover;
				}
			}
			&-sign {
				p {
					display: block;
					@include font-sign;
				}
			}
		}
	}

	// Галерея
	.gallery {
		.item {
			padding: 10px 0 22px;
			&-thumbnail {
				position: relative;
				display: block;
				width: 100%;
				height: auto;
				margin: 0 0 10px;
				border: 1px solid $border-color;
				@include background();
				&:after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					opacity: 0;
					width: 100%;
					height: 100%;
					background-repeat: no-repeat;
					background-position: center center;
					background-color: rgba(235, 38, 44, 0.7);
					background-size: 30px 30px;
					background-image: $whiteIconZoom;
					transition: .3s;
				}
				&:hover:after {
					opacity: 1;
				}
			}
			&-sign {
				p {
					display: block;
					color: #898989;
					
					font-size: 14px;
					font-weight: 400;
				}
			}
		}
	}
	/*	Сотрудник
	---------------------------------------*/
	.people{
		padding: 10px 0 0;
	}
	.person{
		display: flex;
		justify-content: flex-start;
		border: 1px solid #eaeaea;
		padding: 15px;
		margin-bottom: 15px;

		img, i{
			display: inline-block;
			height: 150px;
			width: 150px;
			min-width: 150px;
		}
		i{
			background-color: #eff2f4;
			position: relative;

			svg{
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				margin: auto;
				height: 71px;
				width: 80px;
				fill: #d8dee1;
			}
		}
		.info{	
			padding-left: 20px;
			b{
				display: block;
				color: #333;
				font-size: 16px;
				font-weight: 700;
				line-height: 22px;
				margin: 4px 0 3px;
			}
			span{
				display: block;
				color: #999;
				font-size: 13px;
				font-weight: 400;
				line-height: 18px;
				margin-bottom: 26px;
			}
			p{
				color: #999;
				font-size: 14px;
				font-weight: 400;
				line-height: 18px;
				margin-bottom: 4px;

				svg{
					fill: #d73636;
					margin-right: 7px;
				}

				&.phone{
					svg{
						width: 12px;
						height: 9px;
					}
				}
				&.email{
					svg{
						height: 12px;
						width: 12px;
					}
				}
			}
		}
	}
}



// Мобильная версия текстовой
@import 'components/media-xs';

@media(max-width: 1199px){
	
}

@media(max-width: 991px){
	.flexslider.carousel{
		display: none;
	}
	.flex-direction-nav{
		li{
			display: none !important;
		}
	}
}

@media(max-width: 767px) {
	/* Заголовок для таблицы
	---------------------------------------*/
	.table-title {
		@include font-h3;
		padding: 10px 25px;
	}
	.page{
		padding-bottom: 15px;
	}
	
	/*	Контентная часть текстовой страницы
	---------------------------------------*/
	.content {
		// Текст
		&-text {
			ol, ul {
				padding-top: $indent-sm;
			}

			h1 {
				@include font-h1;
				padding: 5px 0 10px;
				font-size: 26px;
			}
			h2 {
				@include font-h2;
				padding: $indent-sm 0 0;
				line-height: 26px;
			}
			h3 {
				@include font-h3;
				padding: $indent-md 0 0;
				line-height: 20px;
			}
			p {
				@include font-p;
				padding: $indent-sm 0 $indent-md;
			}
			ol {
				padding: $indent-sm 0;
				margin-left: $indent-list;
				> li {
					@include font-p;
					padding-bottom: $indent-sm;
				}
			}
			ul {
				margin-left: $indent-list;
				> li {
					@include font-p;
					padding-bottom: $indent-sm;
					&:before {
						left: -20px;
					}
				}
			}
			img {
				margin: $indent-md 0;
			}
		}

		.content-text + .quote{
			margin-top: 10px;
		}

		// Цитата
		.quote {
			padding: 5px 10px;
			margin: 10px 0;
			&::before, &::after {
				width: 26px;
				height: 24px;
				background-size: 14px 12px;
			}
			&::before {
				top: -13px;
				left: -11px;
			}
			&::after {
				right: -11px;
				bottom: -13px;
			}
			&-text {
				@include font-p;
				line-height: 20px;
			}

		}

		// Файлы
		.files {
			padding: $indent-md 0;
			margin: -#{$indent-md} 0;
			.file {
				padding: $indent-lg 0;
				&-thumbnail {
					min-width: 26px;
					width: 26px;
					height: 32px;
				}
				&-info {
					padding: 0 0 0 10px;
					.name {
						@include font-p;
					}
					.size {
						@include font-sign;
					}
				}
			}
		}

		// Таблица
		.table {
			padding: $indent-lg 0;
		}
		&-text {
			table {
				th, td {
					@include font-p;
					padding: 8px 10px;
				}
			}
		}

		// Текст с выделением
		.text_underline {
			padding: $indent-sm 0 $indent-md;
			p {
				@include font-h2;
				line-height: 24px;
				padding: 0 0 $indent-sm;
			}
		}

		// Сертификаты
		.certificates {
			padding: $indent-md 0;
			.certificate {
				&-thumbnail {
					margin: $indent-md 0 $indent-sm;
				}
				&-sign {
					p {
						@include font-sign;
					}
				}
			}
		}

		// Галерея
		.gallery {
			.item {
				padding: $indent-md 0;
				&-thumbnail {
					margin: 0 0 $indent-sm;
				}
				&-sign {
					p {
						@include font-sign;
					}
				}
			}
		}
		.person{
			.info{
				padding: 0;
				span{
					margin-bottom: 10px;
				}
			}
		}
	}
	.breadcrumbs{
		padding: 14px 0 8px;
		ul{
			li:after{
				margin: 0 3px;
			}
		}
	}
}

@media(max-width: 575px){
	
}