block head
	- var pageTitle
<!DOCTYPE html>
html(lang="en")
	head
		<meta name="viewport" content="width=device-width, initial-scale=1">
		meta(charset="UTF-8")
		title= pageTitle
		link(rel='stylesheet', href='/static/css/style.css')
		script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU")
			//- 8 (900) 535-67-07
	body

		i.modal_bg
		a( class="nav_close")
			span

		.page_wrapper
			main
				svg(role="img", width="18", height="18")
					use(xlink:href="/static/images/sprite.svg#accumulator")
				svg(role="img", width="18", height="18")
					use(xlink:href="/static/images/static-sprite.svg#accumulator")
				header.for_desctop
					section.header_1
						.container
							.row
								.col-6
									ul.main_menu
										li 
											a(href="") О компании
										li 
											a(href="") Новости и акции
										li 
											a(href="") Отзывы
										li 
											a(href="") Покупателям
											ul
												li
													a(href="") Как заказать?
												li
													a(href="") Оплата
												li
													a(href="") Доставка
												li
													a(href="") Гарантия и возврат
												li
													a(href="") Партнеры
								.col-6
									a.enter(href="")
										svg(role="img", width="14", height="15")
											use(xlink:href="/static/images/sprite.svg#lk")
										span Личный кабинет
					section.header_2
						.container
							.row
								.col-6
									a.logo(href="/")
										img(src="/static/images/logo.png")
								.col-6
									.haeder_info
										a(href="")
											svg(role="img", width="16", height="21")
												use(xlink:href="/static/images/sprite.svg#map")
											span Адреса магазинов запчастей
										a(href="#custom_modal-1" class="modal_trigger")
											svg(role="img", width="19", height="19")
												use(xlink:href="/static/images/sprite.svg#tel")
											span Перезвонить мне
					section.header_3
						.container
							.row
								.col-12
									.header_block.scale
										.no_scale
											.flex
												a.open_catalog.scale.hover_menu(href="")
													svg.no_scale(role="img", width="18", height="18")
														use(xlink:href="/static/images/sprite.svg#cat_menu")
													span.no_scale Каталог товаров
												form.search
													input(type="text" placeholder="Поиск товаров в каталоге")
													button
														svg(role="img", width="18", height="18")
															use(xlink:href="/static/images/sprite.svg#search")
													.ajax_search.no_scale
														ul
															each val in ['ГИДРОАППАРАТУРА', 'Запчасти для автомобилей', 'Запчасти для дорожно-строительной техники', 'Запчасти для лесозаготовительной техники', 'Запчасти для сельхозтехники', 'Запчасти для тракторов', 'ИНСТРУМЕНТЫ И МАТЕРИАЛ', 'КАНАТЫ', 'МЕТИЗЫ', 'ПОДШИПНИКИ', 'ПОРШНЕВАЯ, ПОРШНЕВЫЕ КОЛЬЦА', 'ПРИБОРЫ и ЭЛЕКТРООБОРУДОВАНИЕ', 'РТИ', 'ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ']
																li
																	a(href="")= val
												a.cart_button.scale(href="")
													svg.no_scale(role="img", width="24", height="25")
														use(xlink:href="/static/images/sprite.svg#cart")
													span.rub.no_scale 20 400
													i
														i.no_scale 12
												.cart-popup
													.cart-popup__header 
														b Корзина:
															span.amount 12
													.cart-popup__body
														.cart-popup__title Товар добавлен в корзину
														.cart-popup__scroller
															a(href="#").popup-product
																span.popup-product__thumbnail
																	img(src="/static/images/product-category_img.png", alt="")
																span.popup-product__title Аккумулятор 6ст- 60 BOSCH S4 (0 092 S40 250) Silver Asia (232x173x225)
																span.popup-product__price
																	b.rub 3 450
																	span.amount (2 шт)
															a(href="#").popup-product
																span.popup-product__thumbnail.popup-product__thumbnail_none
																	img(src="/static/images/thumbnail-icon.png", alt="")
																span.popup-product__title Аккумулятор 6ст- 60 BOSCH S4 (0 092 S40 250) Silver Asia (232x173x225)
																span.popup-product__price
																	b.rub 3 450
																	span.amount (2 шт)
															a(href="#").popup-product
																span.popup-product__thumbnail
																	img(src="/static/images/product-category_img.png", alt="")
																span.popup-product__title Аккумулятор 6ст- 60 BOSCH S4 (0 092 S40 250) Silver Asia (232x173x225)
																span.popup-product__price
																	b.rub 3 450
																	span.amount (2 шт)
															a(href="#").popup-product
																span.popup-product__thumbnail.popup-product__thumbnail_none
																	img(src="/static/images/thumbnail-icon.png", alt="")
																span.popup-product__title Аккумулятор 6ст- 60 BOSCH S4 (0 092 S40 250) Silver Asia (232x173x225)
																span.popup-product__price
																	b.rub 3 450
																	span.amount (2 шт)
															a(href="#").popup-product
																span.popup-product__thumbnail
																	img(src="/static/images/product-category_img.png", alt="")
																span.popup-product__title Аккумулятор 6ст- 60 BOSCH S4 (0 092 S40 250) Silver Asia (232x173x225)
																span.popup-product__price
																	b.rub 3 450
																	span.amount (2 шт)
															a(href="#").popup-product
																span.popup-product__thumbnail.popup-product__thumbnail_none
																	img(src="/static/images/thumbnail-icon.png", alt="")
																span.popup-product__title Аккумулятор 6ст- 60 BOSCH S4 (0 092 S40 250) Silver Asia (232x173x225)
																span.popup-product__price
																	b.rub 3 450
																	span.amount (2 шт)
													.cart-popup__footer
														.cart-popup__total-price Итого:
															b.price.rub 16 800
														.cart-popup__buttons
															a(href="#" class="to-cart")
																.text В корзину
															a(href="#" class="theme-button")
																.text Оформить заказ

											ul.catalog_menu.hover_menu
												li(data-submenu-id="submenu_1")
													a(href="")
														i
															svg(role="img", width="26", height="26")
																use(xlink:href="/static/images/sprite.svg#item_1")
														span Запчасти и комплектующие
													ul#submenu_1
														each val in ['ГИДРОАППАРАТУРА', 'Запчасти для автомобилей', 'Запчасти для дорожно-строительной техники', 'Запчасти для лесозаготовительной техники', 'Запчасти для сельхозтехники', 'Запчасти для тракторов', 'ИНСТРУМЕНТЫ И МАТЕРИАЛ', 'КАНАТЫ', 'МЕТИЗЫ', 'ПОДШИПНИКИ', 'ПОРШНЕВАЯ, ПОРШНЕВЫЕ КОЛЬЦА', 'ПРИБОРЫ и ЭЛЕКТРООБОРУДОВАНИЕ', 'РТИ', 'ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ']
															li
																a(href="")= val
												li(data-submenu-id="submenu_2")
													a(href="") 
														i
															svg(role="img", width="26", height="18")
																use(xlink:href="/static/images/sprite.svg#item_2")
														span Аккумуляторы
													ul#submenu_2
														each val in ['Запчасти для автомобилей', 'Запчасти для автомобилей', 'Запчасти для автомобилей', 'Запчасти для автомобилей', 'Запчасти для автомобилей', 'Запчасти для автомобилей', 'Запчасти для дорожно-строительной техники', 'Запчасти для лесозаготовительной техники', 'Запчасти для сельхозтехники', 'Запчасти для тракторов', 'РТИ', 'ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ']
															li
																a(href="")= val
												li(data-submenu-id="submenu_3")
													a(href="") 
														i
															svg(role="img", width="25", height="25")
																use(xlink:href="/static/images/sprite.svg#item_3")
														span Шины и камеры
													ul#submenu_3
														each val in ['Запчасти для автомобилей', 'Запчасти для дорожно-строительной техники', 'Запчасти для тракторов', 'РТИ', 'ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ']
															li
																a(href="")= val
												li
													a(href="") 
														i
															svg(role="img", width="21", height="26")
																use(xlink:href="/static/images/sprite.svg#item_4")
														span Масла и спецжидкости
												li
													a(href="") 
														i
															svg(role="img", width="24", height="24")
																use(xlink:href="/static/images/sprite.svg#item_5")
														span Распродажа
				header.for_mobile
					section.h_1
						a.open_menu.scale(href="")
							svg.no_scale(role="img", width="28", height="16")
								use(xlink:href="/static/images/sprite.svg#menu")
						a.logo(href="/")
							img(src="/static/images/logo.png")
						a.cart_open.scale(href="")
							svg.no_scale(role="img", width="24", height="25")
								use(xlink:href="/static/images/sprite.svg#cart")
							i.no_scale 12
					nav
						ul
							li.for_catalog_menu
								a(href="")
									svg(role="img", width="18", height="18")
										use(xlink:href="/static/images/sprite.svg#cat_menu")
									span Каталог товаров
								ul.catalog_menu_mobile
									li
										a(href="")
											i
												svg(role="img", width="26", height="26")
													use(xlink:href="/static/images/sprite.svg#item_1")
											span Запчасти и комплектующие
										ul
											each val in ['ГИДРОАППАРАТУРА', 'Запчасти для автомобилей', 'Запчасти для дорожно-строительной техники', 'Запчасти для лесозаготовительной техники', 'Запчасти для сельхозтехники', 'Запчасти для тракторов', 'ИНСТРУМЕНТЫ И МАТЕРИАЛ', 'КАНАТЫ', 'МЕТИЗЫ', 'ПОДШИПНИКИ', 'ПОРШНЕВАЯ, ПОРШНЕВЫЕ КОЛЬЦА', 'ПРИБОРЫ и ЭЛЕКТРООБОРУДОВАНИЕ', 'РТИ', 'ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ']
												li
													a(href="")= val
									li
										a(href="") 
											i
												svg(role="img", width="26", height="18")
													use(xlink:href="/static/images/sprite.svg#item_2")
											span Аккумуляторы
										ul
											each val in ['Запчасти для автомобилей', 'Запчасти для автомобилей', 'Запчасти для автомобилей', 'Запчасти для автомобилей', 'Запчасти для автомобилей', 'Запчасти для автомобилей', 'Запчасти для дорожно-строительной техники', 'Запчасти для лесозаготовительной техники', 'Запчасти для сельхозтехники', 'Запчасти для тракторов', 'РТИ', 'ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ']
												li
													a(href="")= val
									li
										a(href="") 
											i
												svg(role="img", width="25", height="25")
													use(xlink:href="/static/images/sprite.svg#item_3")
											span Шины и камеры
										ul
											each val in ['Запчасти для автомобилей', 'Запчасти для дорожно-строительной техники', 'Запчасти для тракторов', 'РТИ', 'ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ']
												li
													a(href="")= val
									li
										a(href="") 
											i
												svg(role="img", width="21", height="26")
													use(xlink:href="/static/images/sprite.svg#item_4")
											span Масла и спецжидкости
									li
										a(href="") 
											i
												svg(role="img", width="24", height="24")
													use(xlink:href="/static/images/sprite.svg#item_5")
											span Распродажа
							li
								a(href="")
									svg(role="img", width="15", height="15")
										use(xlink:href="/static/images/sprite.svg#search")
									span Поиск товаров в каталоге
								ul
									form.search
										input(type="text" placeholder="Поиск…")
										button.scale
											svg.no_scale(role="img", width="17", height="17")
												use(xlink:href="/static/images/sprite.svg#arr_1")
										.ajax_search
											each val in ['ГИДРОАППАРАТУРА', 'Запчасти для автомобилей', 'Запчасти для дорожно-строительной техники', 'Запчасти для лесозаготовительной техники', 'Запчасти для сельхозтехники', 'Запчасти для тракторов', 'ИНСТРУМЕНТЫ И МАТЕРИАЛ', 'КАНАТЫ', 'МЕТИЗЫ', 'ПОДШИПНИКИ', 'ПОРШНЕВАЯ, ПОРШНЕВЫЕ КОЛЬЦА', 'ПРИБОРЫ и ЭЛЕКТРООБОРУДОВАНИЕ', 'РТИ', 'ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ']
												a(href="")= val
							li
								a(href="")
									svg(role="img", width="17", height="16")
										use(xlink:href="/static/images/sprite.svg#lk_m")
									span Личный кабинет
								ul
									li
										a(href="") вход
									li
										a(href="") выход
						ul.main_menu
							li 
								a(href="") О компании
							li 
								a(href="") Новости и акции
							li 
								a(href="") Отзывы
							li 
								a(href="") Покупателям
								ul
									li
										a(href="") Как заказать?
									li
										a(href="") Оплата
									li
										a(href="") Доставка
									li
										a(href="") Гарантия и возврат
									li
										a(href="") Партнеры
						ul.haeder_info
							a(href="")
								svg(role="img", width="16", height="21")
									use(xlink:href="/static/images/sprite.svg#map")
								span Адреса магазинов запчастей
							a(href="#custom_modal-1" class="modal_trigger")
								svg(role="img", width="19", height="19")
									use(xlink:href="/static/images/sprite.svg#tel")
								span Перезвонить мне

				block content

			footer
				.container
					.row
						.col-12.col-xl-3.d-none.d-xl-block
							a.logo(href="#")
								img(src="/static/images/logo.png")
						.col-12.col-lg-2.col-xl-2.d-none.d-lg-block
							.footer-block
								b.footer-block__title Магазин
								ul
									li
										a(href="#") О компании
									li
										a(href="#") Новости и акции
									li
										a(href="#") Отзывы
						.col-12.col-lg-3.col-xl-2.d-none.d-lg-block
							.footer-block
								b.footer-block__title Покупателям
								ul
									li
										a(href="#") Как заказать?
									li
										a(href="#") Оплата
									li
										a(href="#") Доставка
						.col-12.col-lg-3.col-xl-2.d-none.d-lg-block
							.footer-block.footer-block_no-title
								ul
									li
										a(href="#") Гарантия и возврат
									li
										a(href="#") Партнеры
									li
										a(href="#") Полезные статьи
						.col-12.col-lg-4.col-xl-3
							a(href="#").footer-skewed-block.footer-skewed-block_link
								.footer-skewed-block__content
									svg(class="footer-skewed-block__svg", role="img", width="16", height="21", style="min-width: 16px;")
										use(xlink:href="/static/images/sprite.svg#pin")
									.footer-skewed-block__text Адреса магазинов
							.footer-skewed-block
								.footer-skewed-block__content
									svg(class="footer-skewed-block__svg", role="img", width="42", height="27", style="min-width: 42px;")
										use(xlink:href="/static/images/sprite.svg#truck")
									.footer-skewed-block__text Доставка продукции по всей России



				.lower_footer
					.container
						.row
							.col-12
								.wrapper
									.wrapper_left
										p © 2018 Сеть магазинов запасных частей «Механик»
										a(href="#", target="_blank") Политика конфиденциальности
									a(href="https://place-start.ru", class="made_by", target="_blank") Сделано в
										svg(role="img", width="96", height="19")
											use(xlink:href="/static/images/sprite.svg#ps")




		.custom_modal#custom_modal-1
			a(href="#", class="modal_close")
			b.modal_title Войти в личный кабинет
			// На форму кидать классы: error, load, success
			form(action="") 
				.group
					.input-wrapper
						input(type="email", id="input-1", required)
					label(for="input-1") Email
				.group
					.input-wrapper(class="error")
						input(type="password", id="input-2", required)
					label(for="input-2") Пароль
				span.error_description Неверный email или пароль
				button(type="submit", class="theme-button")
					span.text Войти
				.other_links
					a(href="#custom_modal-2", class="open_other_modal") Забыли пароль?
					a(href="#custom_modal-3", class="open_other_modal") Регистрация по Email
				.load
					img(src="static/images/loader.png", alt="")
				.success
					img(src="static/images/tick.png", alt="")
					b Заявка успешно отправлена

		.custom_modal#custom_modal-2
			a(href="#", class="modal_close")
			b.modal_title Восстановление пароля
			// На форму кидать классы: error, load, success
			form(action="") 
				.group
					.input-wrapper
						input(type="email", id="input-1", required)
					label(for="input-1") Email
				
				button(type="submit", class="theme-button")
					span.text Восстановить пароль
				.other_links
					a(href="#custom_modal-1", class="open_other_modal") Войти в личный кабинет
				.load
					img(src="static/images/loader.png", alt="")
				.success
					img(src="static/images/tick.png", alt="")
					b Заявка успешно отправлена

		.custom_modal#custom_modal-3
			a(href="#", class="modal_close")
			b.modal_title Регистрация
			// На форму кидать классы: error, load, success
			form(action="") 
				.group
					.input-wrapper
						input(type="email", id="input-1", required)
					label(for="input-1") Email
				label(for="acceptance-1", class="acceptance_checkbox")
					input(type="checkbox", id="acceptance-1" checked)
					s.new_checkbox
						svg(role="img", width="8", height="6")
							use(xlink:href="static/images/sprite.svg#checkbox_arrow")
					span.text Я юридическое лицо
				button(type="submit", class="theme-button")
					span.text Зарегистрироваться
				.form_desc Нажимая кнопку, вы соглашаетесь на 
					a(href="#") обработку персональных данных
				.other_links
					a(href="#custom_modal-1", class="open_other_modal") Я уже зарегистрирован на сайте
				.load
					img(src="static/images/loader.png", alt="")
				.success
					img(src="static/images/tick.png", alt="")
					b Заявка успешно отправлена

		.custom_modal#custom_modal-4
			a(href="#", class="modal_close")
			b.modal_title Получить консультацию
			// На форму кидать классы: error, load, success
			form(action="") 
				.group
					.input-wrapper
						input(type="text", id="input-1", required)
					label(for="input-1") Имя
				.group
					.input-wrapper
						input(type="tel", id="input-1", required)
					label(for="input-1") Телефон для связи
				button(type="submit", class="theme-button")
					span.text Отправить
				.form_desc Нажимая кнопку, вы соглашаетесь на 
					a(href="#") обработку персональных данных
				.load
					img(src="static/images/loader.png", alt="")
				.success
					img(src="static/images/tick.png", alt="")
					b Заявка успешно отправлена




		script(src="/static/js/main.js")
		script(src="/static/js/script.js")
			