//Other fonts
// $font-other-h1: 700 48px / 52px $f;
// $font-other-h2: 700 42px $f;

// General fonts
@mixin font-h1 {
	color: #000;
	font-size: 36px;
	font-weight: 700;
	line-height: 44px;
}

@mixin font-h2 {
	color: #000;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
}

@mixin font-h3 {
	color: #000;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}

@mixin font-p {
	color: #4f4f4f;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

@mixin font-sign {
	color: #999;
	font-size: 14px;
	font-weight: 400;
}