/*	General styles
---------------------------------------*/
body {
	position: relative;
	height: 100%;
	line-height: normal;
	color: #333;
	background-color: #fff;
}
.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100%;
	background-color: #fff;
	position: relative;
	z-index: 100;
}
main {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	background-color: #fff;
	overflow: hidden;
}
footer {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
}
.the_title {
	display: block;
	font: {
		weight: 700;
		size: 36px;
	}
	line-height: 46px;
	color: #333;
	padding: 0 0 6px;
	&__min {
		@extend .the_title;
		font-size: 28px;
		line-height: normal;
	}
	&__indent {
		@extend .the_title;
		padding: 0 0 21px;
	}
	&-wrap {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		padding: 0 0 7px;
		.the_title {
			display: inline-block;
		}
		.the_button {
			margin-left: 20px;
		}
	}
}
.the_button {
	display: inline-block;
	font: {
		weight: 700;
		size: 14px;
	}
	color: $general-color;
	line-height: 38px;
	white-space: nowrap;
	border: 1px solid $general-color;
	border-radius: 20px;
	padding: 0 38px;
	@include transition();
	&:hover, &:focus {
		color: #fff;
		background-color: $general-color;
	}
	&.blue {
		color: #fff;
		background-color: $general-color;
		&:hover, &:focus {
			color: $general-color;
			border-color: #fff;
			background-color: #fff;
		}
	}
	&.grey {
		color: #999;
		border-color: #dbdbdb;
		&:hover, &:focus {
			color: #fff;
			border-color: $general-color;
			background-color: $general-color;
		}
	}
	&.min {
		font-size: 13px;
		line-height: 28px;
		padding: 0 31px;
	}
}

/*	Отсутствие изображения
---------------------------------------*/
.no-photo {
	@include background(80px 98px !important);
	background-color: #eff2f4;
	background-image: url('../images/no-photo.svg') !important;
}
.no-review-photo {
	@include background(92% 82% !important, center bottom);
	background-color: #eff2f4;
	background-image: url('../images/no-review-photo.svg') !important;
}
.no-picture {
	@include background(45% 35% !important);
	background-color: #eff2f4;
	background-image: url('../images/no-picture.svg') !important;
}

/*	Обертка для секции
---------------------------------------*/
.standart-wrap {
	padding: 27.5px 0;
}

/*	Кнопка меню
---------------------------------------*/
.menu_button {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	@include user-select-none;
	@include transition();
	> div {
		position: absolute;
		display: block;
		z-index: 1;
		top: 24px;
		right: 14px;
		width: 23px;
		height: 3px;
		background: $general-color;
		@include transition();
		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			width: 23px;
			height: 3px;
			background: $general-color;
			@include transition();
		}
		&:before {
			top: -7px;
		}
		&:after {
			top: 7px;
			opacity: 1;
		}
	}
	&.active {
		> div {
			background: #333;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			&:before {
				background: #333;
				-webkit-transform: rotate(-90deg) translate(-7px, 0);
				transform: rotate(-90deg) translate(-7px, 0);
			}
			&:after {
				-webkit-transform: rotate(90deg) translate(-7px, 0);
				transform: rotate(90deg) translate(-7px, 0);
				opacity: 0;
			}
		}
	}
}

/*	Символ рубля
---------------------------------------*/
mark {
	display: inline-block;
	font-family: ALSRubl;
	color: inherit;
	padding: 0;
	margin: 0;
	background-color: rgba(0,0,0,0);
}
