@mixin background($size: cover, $position: center) {
	background-repeat: no-repeat;
	background-position: $position;
	background-size: $size;
}

@mixin center(){
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

@mixin v-center(){
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	margin: auto;
}
@mixin g-center(){
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	margin: auto;
}
@mixin button(){
	width: 180px;
	max-width: 100%;
	height: 60px;
	background-image: linear-gradient(-45deg, #ff881b 0%, #ff971b 20%, #ffa51b 40%, #ffb41b 60%, #ffc11b 80%, #ffcf1b 100%);
	border: none;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	margin: 0;
	cursor: pointer;

	&:hover {
		background: #fe8902
	}
}


$red: #e30513;
$black: #1c1c1c;
$grey: #3e3e3e;
$border-color: #eaeaea;
$color: #333;